body {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    float: left;
    margin: .5vh;
    padding: 10px;
    cursor: pointer;
}